<launch>
    <arg name="model" default="waffle_pi" doc="model type [burger, waffle, waffle_pi]"/>
    <arg name="slam_methods" default="gmapping" doc="slam type [gmapping, cartographer, hector, karto, frontier_exploration]"/>
    <arg name="move_forward_only" default="false"/>
    <arg name="configuration_basename" default="turtlebot3_lds_2d.lua"/>
  <!-- turtle bot declation -->
    <arg name='first_tb3' default="tb3_1"/>
    <arg name="first_tb3_x_pos" default=" 0.5"/>
    <arg name="first_tb3_y_pos" default=" 2.2"/>
    <arg name="first_tb3_z_pos" default=" 0.0"/>
    <arg name="first_tb3_yaw"   default=" 0.0"/>
  
  <!-- launch gazebos from the data -->
  <include file="$(find gazebo_ros)/launch/empty_world.launch">
    <arg name="world_name" value="$(find ros_multitb3)/worlds/turtlebot3_house_mod.world"/>
    <arg name="paused" value="false"/>
    <arg name="use_sim_time" value="true"/>
    <arg name="gui" value="true"/>
    <arg name="headless" value="false"/>
    <arg name="debug" value="false"/>
  </include>  
  

</launch>